.product-form-container {
    background-color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 15px auto 15px auto 20px auto;
    grid-template-areas: 
        "codigo"
        "."
        "name"
        "."
        "first-inventory"
        "."
        "button";
}

.product-form-codigo {
    grid-area: codigo;
}

.product-form-name {
    grid-area: name;
}

.product-form-button {
    grid-area: button;
}

.product-form-first-inventory {
    grid-area: first-inventory;
    display: grid;
    grid-template-rows: auto 15px auto 15px auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "qt-inventory" 
        "." 
        "cost" 
        "." 
        "price";
}

.product-form-qt-inventory  {
    grid-area: qt-inventory;
}

.product-form-cost {
    grid-area: cost;
}

.product-form-price {
    grid-area: price;
}



/* This is for browser when area is larger than 768px */
@media screen and (min-width: 768px) {



    .product-form-first-inventory {
        grid-template-columns: auto 15px auto 15px auto;
        grid-template-rows: auto;
        grid-template-areas: "qt-inventory . cost . price";
    }
}