@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");

.form-validation-error {
    margin-top: 10px;
    color: #CE1661;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

input {
    text-transform: uppercase;
}