<div class="container">
  <mat-tab-group>
    <mat-tab label="PRODUTO"><app-product-form #productForm (ProductAdded)="onProductAdded($event)"></app-product-form></mat-tab>
    <mat-tab label="SERVIÇO"><app-service-form #serviceForm (ServiceAdded)="onProductAdded($event)"></app-service-form></mat-tab>
  </mat-tab-group>
  <div class="row">
    <div class="col-sm-12 col-md-9"><input type="search" class="form-control" placeholder="Filtro..." (keyup)="onFilter($event)" (search)="onFilter($event)"></div>
    <div class="col-sm-12 col-md-3 form-item" style="align-content: center; align-self: center; vertical-align: middle; text-align: right;">Total de produtos [ {{productService.allProducts ? productService.allProducts.length : '-'}} ]</div>
  </div>
  <div class="row">
    <div class="col-12">
        <ul class="list-group" *ngFor="let product of productService.filteredProducts">
            <li class="list-group-item li-list-item" *ngIf="product"><app-product-list-item [productItem]="product" (delete)="onDeleteProduct($event, modalConfirmDeletion)" (edit)="onEditProduct($event, modalUpdateProduct, modalUpdateService)"></app-product-list-item></li>
        </ul>
    </div>
  </div>
</div>

<ng-template #modalConfirmDeletion>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Confirmação</h5>
      <button type="button" class="close" (click)="cancelDel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Certeza que quer excluir {{productToDelete ? productToDelete.productName : ""}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmDel()">Sim</button>
        <button type="button" class="btn btn-secondary" (click)="cancelDel()">Não</button>
    </div>
  </div>
</ng-template>

<ng-template #modalUpdateProduct>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar</h5>
      <button type="button" class="close" (click)="editCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-product-form #productFormEdit (ProductUpdated)="onProductUpdated($event)" (ProductFormLoaded)="onProductFormModalLoaded(productFormEdit)" (ProductFormClosed)="onProductFormClosed()"></app-product-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="productFormEdit.SaveProduct()">Salvar</button> 
        <button type="button" class="btn btn-secondary" (click)="editCancel()">Cancelar</button>
    </div>
  </div>
</ng-template>

<ng-template #modalUpdateService>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar</h5>
      <button type="button" class="close" (click)="editCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-service-form #serviceFormEdit (ServiceUpdated)="onProductUpdated($event)" (ServiceFormLoaded)="onServiceFormModalLoaded(serviceFormEdit)" (ServiceFormClosed)="onProductFormClosed()"></app-service-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="serviceFormEdit.SaveService()">Salvar</button> 
        <button type="button" class="btn btn-secondary" (click)="editCancel()">Cancelar</button>
    </div>
  </div>
</ng-template>