.product-container {
    width: 100%;
    display: grid;
    /* 4 cols */
    grid-template-columns: 48px 10px auto 30px;
    /* 16 rows */
    grid-template-rows: auto 10px auto auto 10px auto auto 10px auto auto 10px auto auto 10px auto auto auto;
    grid-template-areas: 
        "type . productName actions"
        ". . . ."
        ". . id-label ."
        ". . id ."
        ". . . ."
        ". . date-label ."
        ". . dateAdded ."
        ". . . ."
        ". . inventory-label ."
        ". . inventory ."
        ". . . ."
        ". . cost-label ."
        ". . cost ."
        ". . . ."
        ". . sale-label ."
        ". . sale ."
        ". . profit ."
        ;
}

.id-label {
    grid-area: id-label;
}

.date-label {
    grid-area: date-label;
}

.id {
    grid-area: id;
}

.dateAdded {
    grid-area: dateAdded;
}

.type {
    grid-area: type;
}

.productName {
    grid-area: productName;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.actions {
    grid-area: actions;
    text-align: right;
}

.sale-label {
    grid-area: sale-label;
    text-align: left;
}

.sale {
    grid-area: sale;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

.profit {
    grid-area: profit;
    font-size: .8em;
    text-align: left;
}

.inventory-label {
    grid-area: inventory-label;
}

.inventory {
    grid-area: inventory;
}

.cost-label {
    grid-area: cost-label;
}

.cost {
    grid-area: cost;
}

@media screen and (min-width: 600px){

    .product-container {
        /* 8 cols */
        grid-template-columns: 48px	15px 20% 10px 20% 10px auto 30px;
        /* 7 rows */
        grid-template-rows: auto 10px auto auto 10px auto auto;
        grid-template-areas: 
            "type . productName         productName productName productName productName    actions"
            "type . .                   .           .           . .             actions"
            "type . id-label            .           date-label  . sale-label    actions"
            "type . id                  .           dateAdded   . sale          actions"
            "type . .                   .           .           . sale          actions"
            "type . inventory-label     .           cost-label  . sale          actions"
            "type . inventory           .           cost        . profit        actions";
    }

    .sale {
        font-size: 2em;
        text-align: center;
    }

    .sale-label {
        text-align: center;
    }

    .profit {
        text-align: center;
        font-size: 1em;
    }

}

@media (min-width: 996px){

    .product-container {
        /* 11 cols */
        grid-template-columns: 48px	15px 20% 10px 20% 10px 15% 10px 15% 10px auto 30px; 
        /* 4 rows */
        grid-template-rows: auto 10px auto auto;
        grid-template-areas: 
            "type . productName productName productName productName productName productName productName productName sale-label actions"
            "type . .         . .             . .                 . .                                             . sale actions"
            "type . id-label  . date-label    . inventory-label   . cost-label                                    . sale actions"
            "type . id        . dateAdded     . inventory         . cost                                          . profit actions";
    }

    .sale {
        font-size: 2em;
        text-align: center;
    }

    .sale-label {
        text-align: center;
    }

    .profit {
        text-align: center;
        font-size: 1em;
    }


}



