.product-container {
    width: 100%;
    display: grid;
    grid-template-columns: 48px 10px auto 10%;
    grid-template-rows: auto auto 10px auto auto 10px auto auto 10px auto;
    grid-template-areas: 
        "type . productName actions"
        "type . productName actions"
        ". . . ."
        "id-label id-label id-label id-label"
        "id id id id"
        ". . . ."
        "date-label date-label date-label date-label"
        "dateAdded dateAdded dateAdded dateAdded"
        ". . . ."
        "inventory inventory inventory inventory";
}

.id-label {
    grid-area: id-label;
}

.date-label {
    grid-area: date-label;
}

.id {
    grid-area: id;
}

.dateAdded {
    grid-area: dateAdded;
}

.type {
    grid-area: type;
}

.productName {
    grid-area: productName;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.actions {
    grid-area: actions;
    text-align: right;
}

.inventory {
    grid-area: inventory;
}

@media screen and (min-width: 600px) {

    .product-container {
        grid-template-columns: 48px 10px auto 10px auto 10px 10%;
        grid-template-rows: auto auto 10px auto auto 10px auto;
        grid-template-areas: 
            "type . productName productName productName productName actions"
            "type . productName productName productName productName actions"
            ". . . . . . ."
            "id-label . date-label . . . ."
            "id . dateAdded . . . ."
            ". . . . . . ."
            "inventory inventory inventory inventory inventory inventory inventory";
    }

}