.product-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 10px auto auto 10px auto auto 10px auto auto 10px auto 10px auto;
    grid-template-areas: 
        "productName-label"
        "productName"
        "."
        "id-label"
        "id"
        "."
        "date-label"
        "dateAdded"
        "."
        "type-label"
        "type"
        "."
        "actions"
        "."
        "inventory";
}

.id-label {
    grid-area: id-label;
}

.date-label {
    grid-area: date-label;
}

.id {
    grid-area: id;
}

.dateAdded {
    grid-area: dateAdded;
}

.type-label {
    grid-area: type-label;
}

.type {
    grid-area: type;
}

.productName-label {
    grid-area: productName-label;
}

.productName {
    grid-area: productName;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.actions {
    grid-area: actions;
    text-align: right;
    border-top: solid 1px rgba(163, 180, 196, 0.336);
    margin-top: 10px;
    padding-top: 10px;
}

.inventory {
    grid-area: inventory;
}

@media screen and (min-width: 600px) {

    .product-container {
        grid-template-columns: auto 10px auto 10px 10%;
        grid-template-rows: auto auto 10px auto auto 10px auto 10px auto;
        grid-template-areas: 
            "productName-label productName-label productName-label productName-label productName-label"
            "productName productName productName productName productName"
            ". . . . ."
            "id-label . date-label . type-label"
            "id . dateAdded . type"
            ". . . . ."
            "actions actions actions actions actions"
            ". . . . ."
            "inventory inventory inventory inventory inventory";
    }

}