<div class="product-container">
  <div class="type form-item">
    <img [src]="productItem.type == 'P' ? 'assets/img/ProductBadge.png' : 'assets/img/ServiceBadge.png'" [alt]="productItem.type == 'S' ? 'SERVIÇO' : 'PRODUTO'" data-toggle="tooltip" [title]="productItem.type == 'S' ? 'SERVIÇO' : 'PRODUTO'" />
  </div>
  <div class="productName form-item">{{productItem.productName}}</div>
  <label class="id-label form-item-label">Código</label>
  <div class="id form-item">{{productItem.id}}</div>
  <label class="date-label form-item-label">Data Adicionado</label>
  <div class="dateAdded form-item">{{productItem.dateAdded}}</div>
  <label class="inventory-label form-item-label">{{productItem.type == "P" ? "Em estoque" : ""}}</label>
  <div class="inventory form-item">{{productItem.qtty}}</div>
  <label class="cost-label form-item-label">{{productItem.cost ? 'Custo' : ''}}</label>
  <div class="cost form-item">{{productItem.cost ? 'R$' + productItem.cost.toFixed(2) : ''}}</div>
  <label class="sale-label form-item-label">Preço</label>
  <div class="sale form-item">{{'R$' + productItem.price.toFixed(2)}}</div>
  <div class="profit">{{showProfit(productItem.cost, productItem.price)}}</div>
  <div class="actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit()">
        <mat-icon>build</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon>delete_forever</mat-icon>
        <span>Excluir</span>
      </button>
      <button mat-menu-item *ngIf="productItem.type != 'S'" (click)="addInventory()">
        <mat-icon>assignment_returned</mat-icon> 
        <span>+ Estoque</span>
      </button>
      <button mat-menu-item *ngIf="productItem.type != 'S'" (click)="listInventory()">
        <mat-icon>assignment</mat-icon>
        <span>Ver entradas em estoque</span>
      </button>
    </mat-menu>
  </div>
</div>